<div class="container">
  <div class="form-group pt-3">
    <input
      type="text"
      class="form-control"
      placeholder="Cerca per autore"
      [(ngModel)]="searchTerm"
      (input)="onSearchChange()"
    />
  </div>
  <div
    *ngFor="let todo of filteredTodos"
    class="card mt-3"
    [ngClass]="{ 'bg-success': todo.completed }"
  >
    <div class="card-body">
      <h5 class="card-title">{{ todo.todo }}</h5>
      <p class="card-text">
        <img
          [src]="getUserById(todo.userId)?.image"
          alt="Profile Picture"
          class="img-thumbnail"
        />
        Author: {{ getUserById(todo.userId)?.firstName }}
        {{ getUserById(todo.userId)?.lastName }}
      </p>
      <input
        type="checkbox"
        [(ngModel)]="todo.completed"
        (change)="onCheckboxChange(todo)"
      />
    </div>
  </div>
</div>
